### Tuples

Tuple (like the list type this is a data collection type)
Note a pair of numbers 3,4 is referred to as a tuple. There are tuples of various sizes: 3,4 and 3,4,5 and 3,4,5,6 are all tuples. They do not have to be numbers. The following are also tuples: 'a,','b' and x, y, z and "Morning", "Afternoon", "Evening". In Python we can set tuples equal to other tuples as follows:

In [2]:
a,b = 2,3
print(a,b)

2 3

In [3]:
x,y,z = 6,4,9
print(x,y,z)
print(y)

6 4 9
4

The tuple 4,6,8 is written by Python with parentheses: (4,6,8)

In [4]:
4,6,8

(4, 6, 8)

The items in tuples can be accessed much like those in a list, but unlike a
list, a tuple cannot be changed. One cannot add to a tuple or remove an item 
from a tuple. It is said to be immutable. 

Let's define a tuple and look at how to access its items:

In [5]:
tup = ('a','e','i','o','u')

In [7]:
print("Tuple is", tup)
print(tup[0])
print(tup[-1])
print(tup[3])
print(tup[1:3])
print(tup[:3])

Tuple is ('a', 'e', 'i', 'o', 'u')
a
u
o
('e', 'i')
('a', 'e', 'i')

### DICTIONARIES

Dictionary data type (another collection datatype along with list and tuple): d = {} creates an empty dictionary
d={key1:value1, key2:value2, key3:value3} - use key to find the value
d[key2] gives value2, etc.
Lists and strings are in order and you can use slicing to single out an item: lis[3] or strg[3] give the item with index 3 in the list or string. This won't work with dictionaries. So you use d[key] to get the value that goes with key.

In [8]:
d = {"Johnny": "5 years old", "Sally": "7 years old", "Eva":"10 years old",
 "Peggy": "7 years old"}

In [11]:
d[0]  # gives an error

KeyError: 0

In [13]:
d["Sally"]

'7 years old'

In [14]:
print(d)

{'Johnny': '5 years old', 'Sally': '7 years old', 'Eva': '10 years old', 'Peggy': '7 years old'}

In [16]:
d.items() # this gives the items in the form of a list of tuples

dict_items([('Johnny', '5 years old'), ('Sally', '7 years old'), ('Eva', '10 years old'), ('Peggy', '7 years old')])

In [17]:
d.keys() # this gives the keys

dict_keys(['Johnny', 'Sally', 'Eva', 'Peggy'])

In [18]:
d.values() # this gives the values

dict_values(['5 years old', '7 years old', '10 years old', '7 years old'])

Note also that the keys must be unique but the values don't have to be
Accessing.

In [20]:
for key, value in d.items():
    print(key, "--> ", value)

Johnny -->  5 years old
Sally -->  7 years old
Eva -->  10 years old
Peggy -->  7 years old

In [21]:
for item in d.items():
    print(item)

('Johnny', '5 years old')
('Sally', '7 years old')
('Eva', '10 years old')
('Peggy', '7 years old')

In [22]:
for item in d.items():
    print(item)
    print(item[0], "--> ", item[1])

('Johnny', '5 years old')
Johnny -->  5 years old
('Sally', '7 years old')
Sally -->  7 years old
('Eva', '10 years old')
Eva -->  10 years old
('Peggy', '7 years old')
Peggy -->  7 years old

In [23]:
for item in d.items():
    print(item[0], "-->", item[1])

Johnny --> 5 years old
Sally --> 7 years old
Eva --> 10 years old
Peggy --> 7 years old

In [24]:
for key in d:
    print(key)

Johnny
Sally
Eva
Peggy

In [25]:
for key in d.keys():
    print(key)

Johnny
Sally
Eva
Peggy

In [27]:
for value in d.values():
    print(value)

5 years old
7 years old
10 years old
7 years old

In [29]:
d["Ted"] = "5 years old"
d

{'Johnny': '5 years old',
 'Sally': '7 years old',
 'Eva': '10 years old',
 'Peggy': '7 years old',
 'Ted': '5 years old'}

- d["sally"] gives an error because "s" is not capitalized
- d["Jim"] gives an error because "Jim" is not a key.
- d["5 years old"] gives an error because "5 years old" is a value not a key

#### Exercise:

Consider the following dictionary of US News and World Reports list of best affordable sportscars (ascars). Execute the line below so that you have the  dictionary in your IPython console. Then answer (retrieve) the following. Press <esc> if you lock up on some step.
    
a) Type ascars to display the dictionary
    
b) Using the key retrieve the Nissan sportcar.
    
b) Using the key retrieve the Chevy sportscar.
    
c) Change the MINI Cooper car to a "Coupe". Display ascars to check that it worked.
    
d) Write a small 2 line loop to display all the values and only the values
    
e) Write a small 2 line loop to display all the keys (and only the keys).

In [30]:
ascars = {"Ford" : "Mustang","Mazda" : "Miata", "Scion" : "FR-S", 
"Subaru" : "BRZ","Dodge" : "Challenger", "Nissan" : "370Z", "Chevy" : "Camaro", 
"Hyundai" : "Genesis Coupe" , "MINI Cooper" : "Roadster"}

In [31]:
ascars

{'Ford': 'Mustang',
 'Mazda': 'Miata',
 'Scion': 'FR-S',
 'Subaru': 'BRZ',
 'Dodge': 'Challenger',
 'Nissan': '370Z',
 'Chevy': 'Camaro',
 'Hyundai': 'Genesis Coupe',
 'MINI Cooper': 'Roadster'}

In [32]:
ascars["Nissan"]

'370Z'

In [33]:
ascars["Chevy"]

'Camaro'

In [34]:
ascars["MINI Cooper"] = "Coupe"

In [35]:
ascars

{'Ford': 'Mustang',
 'Mazda': 'Miata',
 'Scion': 'FR-S',
 'Subaru': 'BRZ',
 'Dodge': 'Challenger',
 'Nissan': '370Z',
 'Chevy': 'Camaro',
 'Hyundai': 'Genesis Coupe',
 'MINI Cooper': 'Coupe'}

In [36]:
for value in ascars.values():
    print(value)

Mustang
Miata
FR-S
BRZ
Challenger
370Z
Camaro
Genesis Coupe
Coupe

In [37]:
for key in ascars:
    print(key)

Ford
Mazda
Scion
Subaru
Dodge
Nissan
Chevy
Hyundai
MINI Cooper

Some summary facts:
- Lists can be appended to and items can be addressed by item number.
- Tuples are immutable (can't be changed). Item can be addressed by item number.
- Dictionaries can be appended to. Items cannot be retrieved by item number, because the items have no inherent order. The values can be retrieved by using their keys.

#### Exercise:

Lists, tuples and dictionaries Let's examine the differences. 

First, lists and tuples are ordered, so this makes sense: lis[2], tup[3] 

Dictionaries are not ordered, so dict[0] returns an error.

Dictionaries don't look items up by index number, but by key; you can't do this with lists and tuples.
[] is an empty list; () is an empty tuple; and {} is an empty dictionary.

Tuples can't be modified, but lists and dictionaries can.

You can stride lists and tuples, but not dictionaries. Dictionaries have no notion of order and hence cannot be sliced ([3:7] doesn't mean anything) and they cannot be strided -- it might appear that you can, but the order is unpredictable.

In [41]:
namelist = ["George", "Sally", "Catherine", "James", "Peggy"]
x,y,z = "George","Sally","Catherine"
mytuple = x,y,z
agedict = {"George":"17","Sally":"19",
             "Catherine":"18"}

In [39]:
namelist[1]

'Sally'

In [42]:
mytuple[1]

'Sally'

In [43]:
agedict[1]

KeyError: 1

In [44]:
namelist.append("Rod")

In [45]:
mytuple.append("Rod")

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
agedict.append("Rod")

AttributeError: 'dict' object has no attribute 'append'

In [47]:
namelist[1] = "Rod"

In [48]:
mytuple[1] = "Rod"

TypeError: 'tuple' object does not support item assignment

In [50]:
agedict["Rod"] = "23"

In [51]:
agedict

{'George': '17', 'Sally': '19', 'Catherine': '18', 'Rod': '23'}